Django
django-ninja
django-ninja-jwt[crypto]
psycopg[binary]
python-decouple
pydantic
python-dotenv
celery
redis
django-celery-results
requests
streamlit
pytest
pytest-django
gunicorn
PyMuPDF
python-docx
pyjwt
openai
dj_database_url
streamlit
requests
rav
whitenoise[brotli]
